<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div id="main" class='flex center login-form'>
            <h1 id="memberTitle" class="member-login">Member login</h1>
            <div class="flex center form-div fd-column">
                <form class="flex form">
                    <div class='username  height20 radius bg-color-white'>
                        <input class='input radius flex center' type="text" id="username" name="usernameInput" value="Username">
                        
                    </div>

                    <div class='height20 radius bg-color-white'>
                        <input class='input radius flex center' type="password" id="password" name="passwordInput" value="Password">
                    </div>

                    <div id="loginBtn" class='flex center  height20 radius bg-color-orange'>
                        <h2 class="margin0">Login</h2>
                        
                    </div>
                  </form>
                  <h4 id="signUpBtn">sign up</h4>
            </div>
        </div>
    <script src="./login.js">
    </script>    
    </body>
   
</html>