body {
  margin: 0%;
  background-color: rgb(227, 233, 255);
  color: gray;

  font-family: Helvetica;
}

input {
  font-family: Helvetica;
}

input:focus {
  outline: transparent;
}

textarea {
  font-family: Helvetica;
  resize: none;
}

textarea:focus {
  outline: transparent;
}

#logoutBtn {
  padding: 0.5% 0.8%;
}

#createTodoForm,
#createTaskBtn,
#newTaskBtn {
  padding: 10.6px 26.6px;
  border-radius: 20px / 50%;
}

#createTaskBtn,
#newTaskBtn {
  top: 21.2px;
}

#todoList {
  padding-top: 35px;
  width: 100%;
}

#todoBox {
  width: 70%;
  min-height: 30%;
}

#todoTxtInput {
  margin: 10.6px 26.6px;
  width: 89.5%;
  height: 67.5%;
  border-radius: 30px / 25%;
  padding: 8px 24px;
}

#modalBox {
  z-index: 10;
  display: none;
}

#parent-div {
  height: 90%;
  margin-top: 5%;
}

#inputBox {
  width: 500px;
  height: 250px;
}

.bg-color-white {
  background-color: white;
}

.bg-color-purple {
  background-color: rgb(175, 126, 235);
}

.bg-color-gray-op {
  background-color: rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.fd-column {
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-start-center {
  align-items: flex-start;
  justify-content: center;
}

.margin0 {
  margin: 0%;
}

.top0 {
  top: 0;
}

.height-width100 {
  height: 100%;
  width: 100%;
}

.color-gray {
  color: gray;
}

.color-white {
  color: white;
}

.shadow {
  box-shadow: 0px 0px 25px -15px #888888;
}

.radius {
  border-radius: 3px / 7%;
}

.input-style {
  border-radius: 14px / 50%;
  border-width: 3px;
  border-color: gray;
  background-color: white;
  color: black;
  border-style: solid;
  padding: 2px 11px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.todo-check-box {
  width: 10px;
  height: 10px;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 50%;
}
