<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="todos.css">
    </head>
    <body>
        
        <div id="parent-div" class="flex flex-start-center">

            <div id='modalBox' class="flex center position-absolute top0 height-width100 bg-color-gray-op">
               
                <div id="inputBox" class="flex fd-column center jc-space-between bg-color-white shadow">
                   
                    <div class="position-relative top0 height-width100">
                        <form id="createTodoForm" class="flex margin0">
                            <input type="text" id="todoTitle" name="todoTitleInput" value="Title" class="input-style">
                            
                        </form>
                        <textarea id="todoTxtInput" form="createTodoForm" maxlength="140" class="input-style"></textarea>
                    </div>
                    <div>
                        <div id="createTaskBtn" class="flex position-relative center color-white bg-color-purple shadow">
                            <h3 class="margin0">Create task</h3>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="top-left">
                <h1 id="username-txt" class=" margin0"></h1>
            </div>

            <div id='todoBox' class="flex fd-column align-items-center jc-space-between bg-color-white shadow">
                
                <div id="todoList">
                    
                </div>

                <div>
                    <div id="newTaskBtn" class="flex position-relative center bg-color-purple color-white shadow">
                        <h3 class="margin0">+ New task</h3>
                    </div>
                </div>
                
            </div>

            <div id="logoutBtn" class="bottom-right bg-color-white flex center radius">
                <h2 class="margin0 ">Log out</h2>
            </div>

        </div>
    </body>
    <script src="./todos.js"></script>
</html>